<app-centered-card title="Register">
  <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="register()">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="displayName"
        autocomplete="username"
        required
        matInput
        ngModel
        #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Name is required!
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      REGISTER
    </button>

  </form>
</app-centered-card>
