<h1><b>{{ (data | async)?.user?.displayName }}'s gallery</b></h1>
<div fxLayout="row wrap">
  <div class="img" *ngFor="let photo of (data | async)?.photos" >
    <img [src]="photo.image | image" [alt]="photo.user?.displayName + 'image'" style="height: 250px; cursor: pointer" (click)="openDialog(photo._id)"/>
    <p>{{ photo.title }}</p>
    <div fxLayout="row">
      <b style="font-size: 16px">By: </b><p style="margin-left: 5px">{{ photo.user?.displayName }}</p>
    </div>
    <p *ngIf="photo.user?._id === id" (click)="removePhoto(photo._id)">Delete</p>
  </div>
</div>
<button mat-raised-button *ngIf="(data | async)?.user?._id === id" routerLink="/photos/new">Add new photo</button>
