<div fxLayout="row wrap">
  <div class="img" *ngFor="let photo of photos | async" >
  <img [src]="photo.image | image" [alt]="photo.user?.displayName + 'image'" style="height: 250px; cursor: pointer" (click)="openDialog(photo._id)"/>
    <p>{{ photo.title }}</p>
    <div fxLayout="row">
    <b style="font-size: 16px">By: </b><p style="margin-left: 5px" [routerLink]="['/photos',  photo.user?._id]">{{ photo.user?.displayName }}</p>
    </div>
  </div>
</div>
