<img [alt]="(photo | async)?.title" [src]="(photo | async)?.image | image" />
<mat-dialog-actions>
  <button mat-button mat-dialog-close="true" style="margin: 0 auto">Закрыть</button>
</mat-dialog-actions>
