<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form
        #f="ngForm"
        fxLayout="column"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input
            type="text"
            name="displayName"
            autocomplete="name"
            required
            matInput
            ngModel
            #displayName="ngModel"
          />
          <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
            Name is required!
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 16px">
          <a routerLink="/register">Don't have an account? Sign up</a>
        </div>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          SIGN IN
        </button>

        <button
          type="button"
          mat-raised-button
          color="default"
          (click)="fbLogin()"
          style="margin-top: 16px"
        >
          <img
            src="assets/icons/fb.svg"
            alt="facebook logo"
          />&nbsp;&nbsp;
          SIGN IN WITH FACEBOOK
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
