<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="centered-card">
    <mat-card-title>Add new photo</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" fxLayout="column" autocomplete="off" (ngSubmit)="createPhoto()">

        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            type="text"
            name="title"
            required
            matInput
            ngModel
            #title="ngModel"
          />
          <mat-error *ngIf="title.touched && title.hasError('required')">
            Title is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Image</mat-label>
          <app-file-input name="image" required ngModel #image="ngModel"></app-file-input>
          <mat-error *ngIf="image.touched && image.hasError('required')">
            Image is required!
          </mat-error>
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid"
        >
          Create photo
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
