/* You can add global styles to this file, and also import other style files */
html, body
  height: 100%
body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif

.error
  background-color: black
  padding: 20px
  color: red
  font-weight: bolder
  margin-bottom: 15px
  text-align: center
  border-radius: 2px
