<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <a routerLink="/">Gallery</a>
      </div>
      <nav *appHasRoles="['user'] else userMenu">
        <div fxLayoutAlign="row">
          <p style="margin-top: 10px; margin-right: 10px">Welcome, <b
            style="color: black">{{ (user | async)?.displayName }}</b></p>
          <button mat-icon-button [matMenuTriggerFor]="menu" style="height: 55px; width: 55px">
            <img [src]="(user | async)?.avatar | image" style=" height: 46px" alt="user"/>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>{{ (user | async)?.displayName }}</button>
          <button mat-menu-item routerLink="/photos/new">Add new photo</button>
          <button mat-menu-item [routerLink]="['/photos',  (user | async)?._id]">My photos</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/login">
      <mat-icon style="margin-right: 7px">login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/register">
      <mat-icon style="margin-right: 7px">app_registration</mat-icon>
    </button>
  </nav>
</ng-template>
